
.currentWeather {

  .currentTop {
    padding: 10px 10px 0px 10px;

    h3 {
      text-align: center;
      margin-bottom: 0px;
      font-size:30px;
    }
  }

  .currentBottom {
    display:grid;
    grid-template-columns:40% 30% 30%;
    padding:10px;

    grid-template-areas: "currIcon currCenter currRight"
                         "currTemp currCenter currRight";

    .currentIcon {
      grid-area: currIcon;

      svg {
        display: block;
        height: 80px;
        width: auto;
        margin: 0 auto;
      }
    }

    .currentTemp, .currentCenter, .currentRight {
      padding-top:0px;

      p{
        margin-bottom:20px;
      }
    }

    .currentCenter, .currentRight {
      padding: 0px 10px 0px 10px;

      .weatherLabel {
        display:block;
        font-size:14px;
        margin-bottom:15px;

        span {
          display:block;
          margin-bottom:5px;
        }
      }
    }

    .currentTemp {
      grid-area:currTemp;

      p {
        text-align: center;
      }
      .currTemp {
        font-size:25px;
        line-height:27px;
        font-weight:700;
        margin-bottom: 5px;
      }
      .labelEle {
        margin-bottom: 10px;
      }
      .indTemp {
        margin-bottom: 0px;
        span {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      .weatherLabel {
        margin-bottom: 10px;
      }
    }

    .currentCenter {
      grid-area:currCenter;
    }

    .currentRight {
      grid-area:currRight;
    }
  }
}
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) uses the same as mobile.

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .currentWeather {
    .currentTop {
      padding: 10px 10px 0px 20px;

      h3 {
        text-align: left;
        font-size:30px;
      }
    }

    .currentBottom {
      grid-template-columns:50% 25% 25%;
      grid-template-areas: "currIcon currCenter currRight"
                           "currTemp currCenter currRight";

      .currentIcon {
        svg {
          height: 100px;
          width: 100px;
        }
      }

      .currentTemp, .currentCenter, .currentRight {
        padding-top:10px;
      }

      .currentTemp {

        .currTemp {
          font-size:40px;
          line-height:42px;
          margin-bottom: 18px;
        }

        .indTemp {
          .dailyLow {
            margin-left:15px;
          }
        }
      }

      .currentCenter, .currentRight {
        .weatherLabel {
          font-size:16px;
          line-height:18px;
        }
      }
    }
  }
}

  // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .currentWeather {
    .currentTop {
      padding: 10px 10px 0px 20px;

      h3 {
        text-align: left;
        font-size:30px;
      }
    }

    .currentBottom {
      grid-template-columns:20% 30% 25% 25%;
      grid-template-areas: "currIcon currTemp currCenter currRight";

      .currentIcon {
        svg {
          height: 130px;
          width: 130px;
        }
      }

      .currentTemp, .currentCenter, .currentRight {
        padding-top:10px;
      }

      .currentTemp {

        .currTemp {
          font-size:56px;
          line-height:58px;
          margin-bottom: 18px;
        }

        .indTemp {
          .dailyLow {
            margin-left:15px;
          }
        }
      }

      .currentCenter, .currentRight {
        .weatherLabel {
          font-size:16px;
          line-height:18px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .currentWeather {
    .currentTop {
      padding: 10px 10px 0px 20px;

      h3 {
        text-align: left;
        font-size:30px;
      }
    }

    .currentBottom {
    grid-template-columns:20% 30% 25% 25%;
    grid-template-areas: "currIcon currTemp currCenter currRight";

      .currentIcon {
        svg {
          height: 130px;
          width: 130px;
        }
      }

      .currentTemp, .currentCenter, .currentRight {
        padding-top:10px;
      }

      .currentTemp {

        .currTemp {
          font-size:56px;
          line-height:58px;
          margin-bottom: 18px;
        }

        .indTemp {
          .dailyLow {
          margin-left:20px;
          }
        }
      }

      .currentCenter, .currentRight {
        .weatherLabel {
          font-size:18px;
          line-height:20px;
        }
      }
    }
  }
}
