@import 'Styles/variables.scss';
@import 'Styles/fonts.scss';

.labelEle {
  font-size:16px;
  line-height:18px;

  span {
    color:$cyberBlue;
    font-weight: 700;
    text-transform: uppercase;
  }
}
