@import '../../../Styles/variables.scss';
@import '../../../Styles/fonts.scss';

.futureWeather {
  ul {
    padding-left: 0px;
    margin: 10px 0px;
    display:grid;
    grid-template-columns:50% 50%;

    li {
      display:grid;
      grid-template-columns: repeat(2, 48%);
      margin: 0px 1% 10px 1%;
      grid-template-areas: "indWeatherIco indDate"
                           "indWeatherIco indTemp";

      h3 {
        grid-area: indDate;
        margin-top:10px;
      }
      .indDate {
        font-size:20px;
        line-height:22px;
        text-align:center;
      }
      svg {
        grid-area: indWeatherIco;
        height:60px;
        margin: 5px auto;
        vertical-align: middle;
        width:auto;
      }

      p {
        grid-area: indTemp;
      }

      .indTemp {
        font-size:20px;
        line-height:22px;
        text-align:center;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .futureWeather {
    ul {
      display:grid;
      grid-template-columns: repeat(7, 1fr);

      li {
        grid-template-columns: 100%;
        grid-template-areas: "indDate"
                             "indWeatherIco"
                             "indTemp";
        margin: 0px 2%;
        padding:5px;

        .indDate {
          font-size:18px;
          line-height:20px;
        }

        svg {
          height:50px;
        }

        .indTemp {
          font-size:20px;
          line-height:22px;
        }
      }
    }

    li:first-child {
      margin-left: 0px;
    }

    li:last-child {
      margin-right: 0px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .futureWeather {
    ul {
      display:grid;
      grid-template-columns: repeat(7, 1fr);

      li {
        grid-template-columns: 100%;
        grid-template-areas: "indDate"
                             "indWeatherIco"
                             "indTemp";
        margin: 0px 2%;
        padding:5px;

        .indDate {
          font-size:22px;
          line-height:24px;
        }

        svg {
          height:80px;
        }

        .indTemp {
          font-size:24px;
          line-height:26px;
        }
      }
    }

    li:first-child {
      margin-left: 0px;
    }

    li:last-child {
      margin-right: 0px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .futureWeather {
    ul {
      display:grid;
      grid-template-columns: repeat(7, 1fr);

      li {
        grid-template-columns: 100%;
        grid-template-areas: "indDate"
                             "indWeatherIco"
                             "indTemp";
        margin: 0px 2%;
        padding:5px;

        .indDate {
          font-size:22px;
          line-height:24px;
        }

        svg {
          height:80px;
        }

        .indTemp {
          font-size:24px;
          line-height:26px;
        }
      }
    }

    li:first-child {
      margin-left: 0px;
    }

    li:last-child {
      margin-right: 0px;
    }
  }
}
