@import './Styles/variables.scss';
@import './Styles/fonts.scss';

body {
background-color:#000;

  .weatherAppWrap {
    width:800px;
    height: auto;
    margin: 0 auto;

    .futureWeather {
      ul {
        display:grid;
        grid-template-columns: repeat(7, 1fr);
      }
    }

  }
}
