@import './Styles/variables.scss';
@import './Styles/fonts.scss';

body {
background-color:#000;

  .weatherAppWrap {
    width:800px;
    height: auto;
    margin: 0 auto;

    .currentWeather {
      display:grid;
      grid-template-columns:1fr 1fr;

      .currentLeft {
        .currentTop {
          display:grid;
          grid-template-columns: 1fr 1fr;
          .currentIcon {
            svg {
              display: block;
              color: $cyberBlue;
              height: auto;
              width: 100%;
              margin: 0 auto;
            }
          }
          .currentTemp {
            p {
              font-size:40px;
              font-weight:700;
              color: $cyberBlue;
            }
          }
        }
      }

      .currentRight {

      }

      .currentLeft {
        .internal {
          display:grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    .futureWeather {
      ul {
        display:grid;
        grid-template-columns: repeat(7, 1fr);
      }
    }

  }
}
